:root {
  --main-font: "Roboto Mono", monospace;
  --main-color: #6b6486;
  --main-bg-color: #f9f6ed;
  --color_black: rgba(0, 0, 0, 0.75);
  --black: #000000ff;
  --btn_primary: #f38270;
  --btn_secondary: #fad9d4;
  --bg-color-secondary: #fdf8fc;
  --chinese-violet: #6f6887ff;
  --white: #fefefeff;
  --pale-dogwood: #f7d2c8ff;
  --chinese-violet-2: #6f697fff;
  --ultra-violet: #635d7aff;
  --chinese-violet-3: #69627dff;
  --floral-white: #f9f6eeff;
  --rose-quartz: #9892a3ff;
  --coral-pink: #eb8d7eff;
  --lavender-web: #e3dfeeff;
  --gray: #8b8b8b;
}

html {
  font-size: 62.5%;
  padding: 2rem;
}

body {
  font-family: var(--main-font);
  display: flex;
  justify-content: center;
  background-color: #eceae5;
  background-color: #ffb7a8;
  opacity: 1;
  background: linear-gradient(135deg, #ffaa9655 25%, transparent 25%) -6px 0/
      12px 12px,
    linear-gradient(225deg, #ffaa96 25%, transparent 25%) -6px 0/ 12px 12px,
    linear-gradient(315deg, #ffaa9655 25%, transparent 25%) 0px 0/ 12px 12px,
    linear-gradient(45deg, #ffaa96 25%, #ffb7a8 25%) 0px 0/ 12px 12px;
}

h1 {
  color: var(--color_black);
  font-size: 2rem;
  font-weight: bolder;
}

p {
  font-size: 1.6rem;
  margin: 0;
}

.container {
  background-color: var(--main-bg-color);
  border-radius: 1.5rem;
  border: 0.3rem solid var(--color_black);
  -webkit-box-shadow: 9px 9px 0px 2px var(--color_black);
  -moz-box-shadow: 9px 9px 0px 2px var(--color_black);
  box-shadow: 9px 9px 0px 2px var(--color_black);
  width: 90rem;
  height: max-content;
}

.frame {
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;
}

/* NAVEGADOR */

.navegador {
  display: grid;
  position: sticky;
  top: 1px;
  grid-template-columns: 20% 60% 20%;
  border-bottom: 0.3rem solid var(--color_black);
  background-color: var(--main-bg-color);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  z-index: 2;
}

.titulo_contenedor {
  margin-left: 3rem;
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.links ul li a {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color_black);
  text-decoration: none;
  cursor: pointer;
}

.links ul li a:hover {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--btn_primary);
}

.circulos_containter {
  display: flex;
  justify-content: end;
  margin-right: 3rem;
}

.circulos {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8rem;
}

.circulos_screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.3rem;
}

.circulo_negro {
  background-color: var(--color_black);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color_black);
  -webkit-box-shadow: 1px 1px 0px 1.2px var(--color_black);
  -moz-box-shadow: 1px 1px 0px 1.2px var(--color_black);
  box-shadow: 1px 1px 0px 1.2px var(--color_black);
}

.circulo_blanco {
  background-color: #fff;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color_black);
  -webkit-box-shadow: 1px 1px 0px 1.2px var(--color_black);
  -moz-box-shadow: 1px 1px 0px 1.2px var(--color_black);
  box-shadow: 1px 1px 0px 1.2px var(--color_black);
  cursor: pointer;
}

.circulo_blanco:hover {
  background-color: var(--main-color);
}

.circulo_blanco:hover:last-child {
  background-color: var(--btn_primary);
}

.circulo_blanco_screen {
  background-color: #fff;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 0.2rem solid var(--black);
}

/* FOOTER */

footer {
  border-top: 0.3rem solid var(--color_black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul_footer {
  display: flex;
  gap: 10px;
}

.li_footer {
  list-style: none;
}

.li_footer i {
  font-size: 3rem;
  color: var(--color_black);
}

.li_footer i:hover {
  font-size: 3rem;
  color: var(--btn_primary);
  cursor: pointer;
}

/* BODY */

.body_container {
  scroll-behavior: smooth;
}

.section {
  padding: 3rem;
  max-height: 100%;
  border-bottom: 0.3rem solid var(--color_black);
}

.section:last-child {
  border-bottom: 0rem;
}

/* regresar */

.regresar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5rem;
  right: 30%;
  background-color: var(--main-color);
  padding: 2.2rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 0px var(--btn_primary), 1px 1px 0px var(--btn_primary),
    2px 2px 0px var(--btn_primary), 3px 3px 0px var(--btn_primary),
    4px 4px 0px var(--btn_primary), 5px 5px 0px var(--btn_primary);
}

.regresar i {
  font-size: 2.5rem;
  color: var(--btn_secondary);
  cursor: pointer;
}

.regresar:hover {
  bottom: 6rem;
}

/* mobile */
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 0px 0px var(--color_black);
    -moz-box-shadow: 0px 0px 0px 0px var(--color_black);
    box-shadow: 0px 0px 0px 0px var(--color_black);
  }

  .regresar {
    right: 2rem;
  }

  .navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 0.3rem solid var(--color_black);
  }

  .links ul {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 0px 0px var(--color_black);
    -moz-box-shadow: 0px 0px 0px 0px var(--color_black);
    box-shadow: 0px 0px 0px 0px var(--color_black);
  }

  .circulos_containter,
  .links {
    display: none;
  }

  .regresar {
    right: 2rem;
  }

  .navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    grid-template-columns: 10% 80% 10%;
    border-bottom: 0.3rem solid var(--color_black);
  }
}

/* SECCION 1 */
#section_1 {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 3rem 0rem 3rem 0rem;
}

.perfil_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagen_perfil {
  background-image: url("/img/perfil_2.png");
  background-size: cover;
  background-position: center;
  width: 20rem;
  height: 20rem;
  border: 4px solid var(--color_black);
  border-radius: 50%;
}

.sobre_mi {
  width: 85%;
  display: flex;
  align-items: center;
}

.filtro-bn {
  filter: grayscale(100%);
}

.titulo_2 {
  font-weight: 400;
  font-size: 2.5rem;
  color: var(--black);
}

.titulo_3 {
  text-align: center;
  font-weight: bold;
  color: var(--black);
  font-size: 1.4rem;
}

.titulo_4 {
  font-weight: bold;
  color: var(--black);
  font-size: 2rem;
}

.parrafo_1 {
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--gray);
}

/* SECCION 2 */

/* CARD */
.cards {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 2rem;
  padding: 3rem 0rem 3rem 0rem;
}

.card_bar {
  background-color: var(--lavender-web);
  border-bottom: 3px solid var(--black);
  width: 100%;
  height: 3rem;
  display: grid;
  align-items: center;
  grid-template-columns: 7% 86% 7%;
}

.card_body_container {
  padding: 1rem;
}

.sombra_3D {
  box-shadow: 1px 1px 0px var(--black), 1px 1px 0px var(--black),
    2px 2px 0px var(--black), 3px 3px 0px var(--black), 4px 4px 0px var(--black),
    5px 5px 0px var(--black);
}

.sombra {
  border: 0.3rem solid var(--color_black);
  -webkit-box-shadow: 4px 8px 0px 2px var(--color_black);
  -moz-box-shadow: 4px 8px 0px 2px var(--color_black);
  box-shadow: 4px 8px 0px 2px var(--color_black);
}

.card {
  width: 40rem;
  background-color: var(--bg-color-secondary);
  border: 3px solid var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_screen_container {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  transition: all 0.2s ease-in-out;
}

.image_screen_container:hover {
  filter: grayscale(0%);
}

.image_screen_1 {
  background-image: url("https://picsum.photos/200");
}

.fa-xmark {
  font-size: 1.5rem;
  color: var(--black);
}

/* BTN */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  width: 15rem;
  height: 3rem;
  border: 3px solid var(--black);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  color: var(--bg-color-secondary);
  font-weight: bold;
  background-color: var(--coral-pink);
}

.btn_screen{
    background-color: var(--lavender-web);
    color: var(--black);
}

.mostrar_mas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_mostrar_mas{
    border-radius: 1.2rem;
    background-color: var(--coral-pink);
    color: var(--black);
}

.btn_mostrar_mas:hover{
    background-color: var(--pale-dogwood);
    color: var(--black);
}

/* Final */
.hide {
    display: none;
  }