:root {
  --main-font: "Roboto Mono", monospace;
  --main-color: #6b6486;
  --main-bg-color: #f9f6ed;
  --color_black: rgba(0, 0, 0, 0.75);
  --black: #000000ff;
  --btn_primary: #f38270;
  --btn_secondary: #fad9d4;
  --bg-color-secondary: #fdf8fc;
  --chinese-violet: #6f6887ff;
  --white: #fefefeff;
  --pale-dogwood: #f7d2c8ff;
  --chinese-violet-2: #F6F4FF;
  --ultra-violet: #635d7aff;
  --chinese-violet-3: #69627dff;
  --floral-white: #f9f6eeff;
  --rose-quartz: #F6F4FF;
  --coral-pink: #eb8d7eff;
  --lavender-web: #e3dfeeff;
  --gray: #8b8b8b;
}

html {
  font-size: 62.5%;
  padding: 2rem;
}

body {
  font-family: var(--main-font);
  display: flex;
  justify-content: center;
  background-color: #eceae5;
  background-color: #ffb7a8;
  opacity: 1;
  background: linear-gradient(135deg, #ffaa9655 25%, transparent 25%) -6px 0/
      12px 12px,
    linear-gradient(225deg, #ffaa96 25%, transparent 25%) -6px 0/ 12px 12px,
    linear-gradient(315deg, #ffaa9655 25%, transparent 25%) 0px 0/ 12px 12px,
    linear-gradient(45deg, #ffaa96 25%, #ffb7a8 25%) 0px 0/ 12px 12px;
}

h1 {
  color: var(--color_black);
  font-size: 2rem;
  font-weight: bolder;
}

p {
  font-size: 1.6rem;
  margin: 0;
}

.container {
  background-color: var(--main-bg-color);
  border-radius: 1.5rem;
  border: 0.3rem solid var(--color_black);
  -webkit-box-shadow: 9px 9px 0px 2px var(--color_black);
  -moz-box-shadow: 9px 9px 0px 2px var(--color_black);
  box-shadow: 9px 9px 0px 2px var(--color_black);
  width: 90rem;
  height: max-content;
}

.frame {
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;
}

.bold{
  font-weight: bold;
}

.t-center{
  text-align: center;
}

.mt-10{
  margin-top: 10px;
}


/* NAVEGADOR */

.navegador {
  display: grid;
  position: sticky;
  top: 0px;
  grid-template-columns: 20% 60% 20%;
  border-bottom: 0.3rem solid var(--color_black);
  background-color: var(--main-bg-color);
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  z-index: 2;
}

.titulo_contenedor {
  margin-left: 3rem;
  display: flex;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.links ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.links ul li a {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color_black);
  text-decoration: none;
  cursor: pointer;
}

.links ul li a:hover {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--btn_primary);
}

.circulos_containter {
  display: flex;
  justify-content: end;
  margin-right: 3rem;
}

.circulos {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 8rem;
}

.circulos_screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

.circulo_negro {
  background-color: var(--color_black);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color_black);
  -webkit-box-shadow: 1px 1px 0px 1.2px var(--color_black);
  -moz-box-shadow: 1px 1px 0px 1.2px var(--color_black);
  box-shadow: 1px 1px 0px 1.2px var(--color_black);
  cursor: pointer;
}

.circulo_blanco {
  background-color: #fff;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color_black);
  -webkit-box-shadow: 1px 1px 0px 1.2px var(--color_black);
  -moz-box-shadow: 1px 1px 0px 1.2px var(--color_black);
  box-shadow: 1px 1px 0px 1.2px var(--color_black);
  cursor: pointer;
}

.circulo_blanco:hover {
  background-color: var(--main-color);
}

.circulo_blanco:hover:last-child {
  background-color: var(--btn_primary);
}

.circulo_negro:hover {
  background-color: var(--rose-quartz);
}

.circulo_blanco_screen {
  background-color: #fff;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 0.2rem solid var(--black);
}

/* FOOTER */

footer {
  border-top: 0.3rem solid var(--color_black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ul_footer {
  display: flex;
  gap: 10px;
}

.li_footer {
  list-style: none;
}

.li_footer i {
  font-size: 3rem;
  color: var(--color_black);
}

.li_footer i:hover {
  font-size: 3rem;
  color: var(--btn_primary);
  cursor: pointer;
}

/* BODY */

.body_container {
  scroll-behavior: smooth;
}

.section {
  padding: 3rem;
  max-height: 100%;
  border-bottom: 0.3rem solid var(--color_black);
}

.section:last-child {
  border-bottom: 0rem;
}

/* regresar */

.regresar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5rem;
  right: 30%;
  background-color: var(--main-color);
  padding: 2.2rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 1px 1px 0px var(--btn_primary), 1px 1px 0px var(--btn_primary),
    2px 2px 0px var(--btn_primary), 3px 3px 0px var(--btn_primary),
    4px 4px 0px var(--btn_primary), 5px 5px 0px var(--btn_primary);
}

.regresar i {
  font-size: 2.5rem;
  color: var(--btn_secondary);
  cursor: pointer;
}

.regresar:hover {
  bottom: 6rem;
}

/* SECCION 1 */

#section_1 {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 3rem 0rem 3rem 0rem;
}

.perfil_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagen_perfil {
  background-image: url("/img/perfil_2.png");
  background-size: cover;
  background-position: center;
  width: 20rem;
  height: 20rem;
  border: 4px solid var(--color_black);
  border-radius: 50%;
}

.image_screen_sobre_mi{
  background-image: url("/img/perfil_3.jpg");
}

.sobre_mi {
  width: 85%;
  display: flex;
  align-items: center;
}

.language {
  width: 100%;
  display: flex;
  justify-content: start;
}
.ul_language {
  list-style: none;
  display: flex;
}

.li_language {
  margin-right: 6rem;
  margin-left: -4rem;
  font-size: 3.5rem;
  color: var(--color_black);
  transition: all 0.2s ease-in-out;
}

.li_language:hover {
  color: var(--btn_primary);
}

.filtro-bn {
  filter: grayscale(100%);
}

.titulo_2 {
  font-weight: 400;
  font-size: 3rem;
  color: var(--black);
}

.titulo_3 {
  text-align: center;
  font-weight: bold;
  color: var(--black);
  font-size: 1.4rem;
}

.titulo_4 {
  font-weight: bold;
  color: var(--black);
  font-size: 2rem;
}

.titulo_5 {
  font-family: var(--main-font);
  font-weight: bold;
  color: var(--black);
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.parrafo_1 {
  margin: -2rem 0 2rem 0;
  font-weight: 400;
  font-size: 2rem;
  color: var(--gray);
}

.line-middle {
  width: 30%;
  text-align: center;
  border-bottom: 3px solid #000;
  line-height: 0.8rem;
  margin: 10px 0 10px 0;
}

.line-middle span {
  background: var(--main-bg-color);
  padding: 0 15px;
}

.text {
  position: relative;
  display: inline-block;
  line-height: 24px;
  font-size: 24px;
  color: var(--black);
}

.cursor_terminal {
  font-size: 2rem;
  color: var(--gray);
}

.text::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  display: inline-block;
  background-color: var(--main-color);
  vertical-align: top;
  width: 6px;
  height: 22px;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* SECCION 2 */

/* CARD */
.cards {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 50% 50%;
  grid-gap: 2rem;
  padding: 3rem 0rem 3rem 0rem;
}

.card_placeholder,
.card {
  width: 40rem;
  max-height: 30rem;
  background-color: var(--bg-color-secondary);
  border: 3px solid var(--black);
}

.card_bar {
  background-color: var(--chinese-violet-2);
  border-bottom: 3px solid var(--black);
  width: 100%;
  height: 3rem;
  display: grid;
  align-items: center;
  grid-template-columns: 10% 80% 10%;
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      #e5e5f7 20%,
      #e5e5f7 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #e5e5f7 20%,
        #e5e5f7 80%,
        transparent 80%,
        transparent
      )
      10px 10px,
    linear-gradient(#e3dfee 0.8px, transparent 0.8px) 0 -0.4px,
    linear-gradient(90deg, #e3dfee 0.8px, #e5e5f7 0.8px) -0.4px 0;
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

.card_bar_resize{
  grid-template-columns: 7% 86% 7%;
  position: sticky;
  top: 0;
  z-index: 3;
}

.card_bar_selected {
  background: var(--coral-pink);
}

.card_body_container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card_body_container_links{
  display: flex;
  justify-content: space-between;
}

.sombra_3D {
  box-shadow: 1px 1px 0px var(--black), 1px 1px 0px var(--black),
    2px 2px 0px var(--black), 3px 3px 0px var(--black), 4px 4px 0px var(--black),
    5px 5px 0px var(--black);
}

.sombra {
  border: 0.3rem solid var(--color_black);
  -webkit-box-shadow: 4px 4px 0px 1px var(--color_black);
  -moz-box-shadow: 4px 4px 0px 1px var(--color_black);
  box-shadow: 4px 4px 0px 1px var(--color_black);
}

.image_screen_container_sobre_mi,
.image_screen_container {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.image_screen_container_sobre_mi{
  height: 20rem;
  filter: grayscale(0%);
}

.image_screen_color {
  filter: grayscale(0%);
}

.image_height {
  height: 25rem;
}

.icon_screen {
  font-size: 1.5rem;
  color: var(--black);
  cursor: pointer;
}

/* BTN */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  width: 15rem;
  height: 3rem;
  border: 3px solid var(--black);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  color: var(--bg-color-secondary);
  font-weight: bold;
  background-color: var(--coral-pink);
}

.btn_screen {
  color: var(--black);
  opacity: 1;
  background-size: 4px 4px;

  background: radial-gradient(
      circle,
      transparent 20%,
      #e5e5f7 20%,
      #e5e5f7 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #e5e5f7 20%,
        #e5e5f7 80%,
        transparent 80%,
        transparent
      )
      10px 10px,
    linear-gradient(#e3dfee 0.8px, transparent 0.8px) 0 -0.4px,
    linear-gradient(90deg, #e3dfee 0.8px, #e5e5f7 0.8px) -0.4px 0;
}

.btn_screen:hover {
  color: var(--black);
  opacity: 1;
  background-size: 4px 4px;
  background: linear-gradient(90deg, #e3dfee 0.8px, #c6c6da 0.8px) -0.4px 0;
}

.mostrar_mas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_mostrar_mas {
  font-size: 1.4rem;
  color: var(--bg-color-secondary);
  background-color: var(--btn_primary);
}

.btn_mostrar_mas:hover {
  background-color: var(--main-color);
}

.btn_cv {
  font-size: 1.3rem;
  color: var(--bg-color-secondary);
  background-color: var(--coral-pink);
}

.btn_cv:hover {
  background-color: var(--main-color);
}

.btn_perfil{
  display: flex;
  gap: 1rem;
}

.btn_sobre_mi{
  background-color: var(--chinese-violet-2);
}

.btn_sobre_mi:hover{
  background-color: var(--main-color);
  color: var(--white);
}

.icon_cv {
  font-size: 2rem;
  color: var(--floral-white);
  margin-left: 1rem;
}

/* Final */
.hide {
  display: none;
}

/* Screen */
.screen_absolute{
  max-height: 70rem;
  position: fixed;
  width: 60rem;
  overflow: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.img_screen_absolute{
  height: 20rem;
}

.card_placeholder{
  background-color: var(--rose-quartz);
}


.fa-times{
  font-size: 2rem;
  color: var(--black);
  cursor: pointer;
}

.imagen_entrada{
  margin: 8px auto 0 auto;
  width: 80%;

}

.h-50 {
  max-height: 52rem;
}

/* modal version */
.version{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2 ;
}

.image_version{
  border: 4px solid var(--black);
}

.card_bar_version{
  background-color: var(--chinese-violet-3);
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* modal sobre mi */
.h-60{
  max-height: 60rem;
}

/* mobile */
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 0px 0px var(--color_black);
    -moz-box-shadow: 0px 0px 0px 0px var(--color_black);
    box-shadow: 0px 0px 0px 0px var(--color_black);
  }

  .regresar {
    right: 2rem;
  }

  .navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 0.3rem solid var(--color_black);
  }

  .links ul {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 0px 0px var(--color_black);
    -moz-box-shadow: 0px 0px 0px 0px var(--color_black);
    box-shadow: 0px 0px 0px 0px var(--color_black);
  }

  .circulos_containter,
  .links {
    display: none;
  }

  .regresar {
    right: 2rem;
  }

  .navegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    grid-template-columns: 10% 80% 10%;
    border-bottom: 0.3rem solid var(--color_black);
  }
}
